<div class="hero-section">
  <div class="hero-content">
    <img
      src="assets/images/home_page_1.gif"
      alt="Illustration"
      class="hero-image"
    />

    <div class="hero-text">
      <h1 class="fade-slide-in delay-1">India’s First Collaborative Finance Platform.</h1>
      <p class="fade-slide-in delay-2">We Empower You To <strong>Pool Funds</strong>, Manage <strong>Investments</strong> , And 
        <strong> Access Exclusive Opportunities</strong> Previously Beyond Your Individual Reach.</p>
        <div class="flex gap-3 fade-slide-in delay-3">
          <button class="sign-up-btn">Explore Products</button>
          <button class="sign-up-btn">Join The Movement</button>
        </div>
    </div>
  </div>
</div>
<section class="info-section">
  <div class="info-card purple-card1">
    <div class="text-side">
    <p>Managing money <br />alone<em>wears you <br />down</em>.</p>
    </div>
    <div class="image-side">
      <img src="/assets/images/piggy.png" alt="Piggy Bank">
    </div>
  </div>

  <div class="info-card purple-card2">
    <div class="image-side2">
      <img src="/assets/images/caronman.png" alt="Example Image 2">
    </div>
    <div class="text-side2">
    <p>You <em>overthink every move</em>, <em>miss chances</em> that need bigger<br /> capital, and 
    <em>carry the weight <br />alone</em> when things go wrong.</p>
    </div>
  </div>

  <div class="info-card purple-card3">
    <div class="text-side3">
    <p>But when it becomes a shared <br />journey with your trusted circle, <br />everything changes.</p>
  </div>
  <div class="image-side">
    <img src="/assets/images/coins.png" alt="Piggy Bank">
  </div>

  </div>

  <div class="info-card purple-card4">
    <div class="image-side2">
      <img src="/assets/images/2man.png" alt="Example Image 2">
    </div>
    <div class="text-side4">
    <p>You don’t just grow—you unlock <br />possibilities once out of reach. <br />
    You share the load, access more, <br />and build smarter—<strong>together</strong>.</p>
  </div>
  </div>
</section>
<section class="huddler-section">
  <div class="huddler-heading">
    <div class="huddler-banner">
      Shared money, made <em>simple</em> – with <strong>Huddler</strong>.
    </div>
    <p class="huddler-subtext">
      Everyone’s money journey is different—<strong>find the Huddler path that fits yours.</strong>
    </p>
  </div>

  <div class="huddler-cards">
    <div class="huddler-card">
      <h3>Huddler Circles</h3>
      <p>
        For those who want to <br /><em>save smarter</em>, <em>stay <br /> accountable</em>, and 
        <em>access  <br />credit</em> within trusted groups.
      </p>
      <div class="image-box1">
        <img src="/assets/images/bath.png" >
      </div>
      <button class="huddler-btn" routerLink="/circles">Explore Circles</button>
    </div>

    <div class="huddler-card">
      <h3>Huddler Invest</h3>
      <p>
        For those who want to <em>pool <br />capital</em> and 
        <em>access exclusive,<br /> high-value investment <br /></em> opportunities.
      </p>
      <div class="image-box2">
        <img src="/assets/images/meditate.png" >
      </div>
      <button class="huddler-btn" routerLink="/invest">Explore Invest</button>

    </div>
  </div>
</section>
<section class="wealth-journey-section">
  <div class="wealth-journey-container">
    <div class="image-placeholder">
      <img src="/assets/images/watering.png" >
    </div>
    <div class="wealth-text">
      <p class="wealth-subtext">
        We take the stress out of managing <br /> money together, so you can focus <br />on what really matters:
      </p>
      <p class="wealth-highlight">
        <em>helping each other grow.</em>
      </p>
    </div>
  </div>

  <div class="wealth-banner">
    <p>Start Your Wealth Journey—<strong><em>Together</em></strong></p>
  </div>

  <div class="wealth-support-text">
    <p>We Tackle Health Together. We Support Each Other’s Mental Well-being.<br>
    So Why Manage Money Alone?</p>
  </div>

  <div class="waitlist-button">
    <button routerLink="/signup">Join The Waitlist</button>
  </div>
</section>


